# Weights and Biases folder
pytorch/wandb/
runs/
script/
pretrain/
pretrain_1000_epochs/
pretrain_500_epochs/
pretrain1st_2nd_800_epochs/
pretrain2nd_800_epochs/
linprobe_regression/
finetune_multi/
finetune_multi_log/
finetune_multi_log_kan/
eval_run/

mae_visualize copy.ipynb
submitit_pretrain_mod.py
util/pcgrad.py
util/qtd_dentes.csv

nohup.out
.vscode/
__pycache__/
.ipynb_checkpoints/

# Weights
*.tar

# Test scripts
test_*.sh
